<!DOCTYPE html>
<html>
  <head>
    <title>Banko</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-dark">
    <!-- Layout -->
    <div class="layout">
      <%= render 'layouts/topbar' %>
      <!-- Content -->
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
